.about{
	min-height: 400px;
	position: relative;
}
.logo{
	&--about-dekstop{
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 134px;
		height: 136px;
		background-image: url(../img/about/logo-dekstop.png);
		display: none;
		@media #{$tablet-width}{
	 	display: block;
	 	z-index: 2;
	 	}
	}
}
.about__inner{
	@include container;
	position: relative;
	@include clearfix;
}
.about__block{
	width: 100%;
	min-height: 270px;
	box-sizing:border-box;
	padding-top: 40px;
	@media #{$tablet-width}{
		width: 50%;
		min-height: 200px;
		float: left;
		display: inline-block;
		position: relative;
		
		&--web, &--market{
			padding-right: 5%;
		}
		&--web{
			&:after, &:before{
				position: absolute;
				content: '';
				background-color: $text-color;
			}
			&:before{
				top: 100px;
				bottom: 20px;
				right: -1px;
				width: 1px;
			}
			&:after{
				left: 100px;
				bottom: 0px;
				right: 20px;
				height: 1px;
			}
		}
		&--seo, &--web{
			
			padding-bottom: 60px;
		}
		&--market, &--analitycs{
			padding-bottom: 64px;
		}
		&--seo, &--analitycs{
			padding-left: 5%;
		}
	}
	@media #{$notebook-width}{
		&--web, &--market{
			padding-right: 8%;
		}
		&--seo, &--analitycs{
			padding-left: 8%;
		}
	}
}
.about__head{
	color: #12adfd;
	font-family: $csr;
	text-transform: uppercase;
	font-size: 16px;
	text-decoration: underline;
	position: relative;
	display: block;
	&:after{
		content: '';
		position: absolute;
		top:-50px;
	}
	&--web{
		&:after{
			background-image: url(../img/about/ico-pen.png);
			width: 18px;
			height: 29px;
			left: 49%;
		}
	}
	&--seo{
		&:after{
			background-image: url(../img/about/ico-seo.png);
			width: 43px;
			height: 35px;
			left: 45%;
		}
	}
	&--market{
		&:after{
			background-image: url(../img/about/ico-graph.png);
			width: 55px;
			height: 26px;
			left: 44%;
		}
	}
	&--analitycs{
		&:after{
			background-image: url(../img/about/ico-gist.png);
			width: 46px;
			height: 26px;
			left: 45%;
		}
	}
	@media #{$notebook-width}{
		font-size: 18px;
		&:after{
			top: -30px;
		}
		&--web{
			&:after{
				left: 160px;
			}
		}
		&--seo{
			&:after{
				left: 190px;
			}
		}
		&--market{
			&:after{
				background-image: url(../img/about/ico-graph.png);
				width: 55px;
				height: 26px;
				left: 255px;
			}
		}
		&--analitycs{
			&:after{
				background-image: url(../img/about/ico-gist.png);
				width: 46px;
				height: 26px;
				left: 135px;
			}
		}
	}
	@media #{$fullhd-width}{
		font-size: 20px;
	}
}
.about__content{
	font-family: $cl;
	font-size: 14px;
	line-height: 21px;
	color: $text-color;
	@media #{$notebook-width}{
		font-size: 18px;
		line-height: 24px;
	}
	@media #{$fullhd-width}{
		font-size: 20px;
	}
}
.about__tags{
	display: inline-block;
	width: 48%;
	color: #fff;
	font-size: 11px;
	font-family: $csr;
	text-transform: uppercase;
	text-decoration: none;
	background-color: $blue-color;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 4px;
	border-radius: 4px;
	margin-bottom: 10px;
	margin-right: 1%;
	@media #{$notebook-width}{
		width: auto;
		padding-left: 20px;
		padding-right: 20px;
	}
	@media #{$fullhd-width}{
		font-size: 13px;
		padding-left: 35px;
		padding-right: 35px;
		margin-right: 2%;
	}
}