
/* font-family: "CleanvertisingLight"; */
@font-face {
    font-family: "CleanvertisingLight";
    src: url("../fonts/CleanvertisingLight/CleanvertisingLight.eot");
    src: url("../fonts/CleanvertisingLight/CleanvertisingLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CleanvertisingLight/CleanvertisingLight.woff") format("woff"),
    url("../fonts/CleanvertisingLight/CleanvertisingLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "CleanvertisingBlack"; */
@font-face {
    font-family: "CleanvertisingBlack";
    src: url("../fonts/CleanvertisingBlack/CleanvertisingBlack.eot");
    src: url("../fonts/CleanvertisingBlack/CleanvertisingBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/CleanvertisingBlack/CleanvertisingBlack.woff") format("woff"),
    url("../fonts/CleanvertisingBlack/CleanvertisingBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansRegular"; */
@font-face {
    font-family: "ClearSansRegular";
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot");
    src: url("../fonts/ClearSansRegular/ClearSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansRegular/ClearSansRegular.woff") format("woff"),
    url("../fonts/ClearSansRegular/ClearSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansBold"; */
@font-face {
    font-family: "ClearSansBold";
    src: url("../fonts/ClearSansBold/ClearSansBold.eot");
    src: url("../fonts/ClearSansBold/ClearSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansBold/ClearSansBold.woff") format("woff"),
    url("../fonts/ClearSansBold/ClearSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ClearSansMedium"; */
@font-face {
    font-family: "ClearSansMedium";
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot");
    src: url("../fonts/ClearSansMedium/ClearSansMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/ClearSansMedium/ClearSansMedium.woff") format("woff"),
    url("../fonts/ClearSansMedium/ClearSansMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
