.header{
	background-color: $header-color;
	height: 50px;
	color: #fff;
	font-family: $cl;
	@media #{$tablet-width}{
		height: 25px;
	}
}
.header__nav-wrap{
	@include container;
	position: relative;
}
.logo{
	position: absolute;
	&--head-mobile{
	 	left:5px;
	 	width: 41px;
	 	height: 42px;
	 	background-image: url("../img/header/logo-mobile.png");
	 	@media #{$tablet-width}{
	 		display: none;
	 	}
	 }
}
.btn__row {
	height: 2px;
	width: 60%;
	margin: 2px 0;
	background-color: #fff;
	position: relative;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
.btn__menu {
	width: 50px;
	height: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	position: relative;
  z-index: 5;
  position: absolute;
  right: 0;
  &--active .btn__row:first-child {
		-webkit-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
		-o-transform: rotate(-135deg);
		transform: rotate(-135deg);
		top: 6px;
	  background-color: #fff;
	  opacity: 1;
  }
  &--active .btn__row:last-child {
		-webkit-transform: rotate(-225deg);
		-ms-transform: rotate(-225deg);
		-o-transform: rotate(-225deg);
		transform: rotate(-225deg);
		top: -6px;
	  background-color: #fff;
	  opacity: 1;
	}
	&--active .btn__row{
		&:nth-child(2) {
			opacity: 0;
		}
	}
	@media #{$tablet-width}{
	 		display: none;
	}
}
.main-nav{
	background-color: $header-color;
	position: absolute;
	margin: 0;
	padding: 0;
	right: 0px;
	top: 50px;
	height: 0;
	overflow: hidden;
	transition: all 0.5s;
	&--mobile-opened{
		height: 102px;
	}
}
.main-nav__list{
	margin: 0;
	padding: 15px;
}
.main-nav__item{
	list-style-type: none;
	a{
		color: #ffffff;	
	}
}


.promo-title{
	
	height: 320px;
}
.promo-title__inner{
	@include container;
	height: 200px;
	outline: 2px solid yellow;
}
