@mixin clearfix(){
	&::after{
		content: '';
		display: table;
		clear: both;
	}
}
@mixin container(){
	width: 360px;
	margin: 0 auto;
		@media #{$tablet-width}{
			width:640px;
		}
		@media #{$notebook-width}{
			width: 1040px;
		}
		@media #{$fullhd-width}{
			width: 1600px;
		}
}
