.offers{

}
.offers__inner{
	@include container;
}
.offers__blocks{
	width: 100%;
	min-height: 270px;
	margin-top: 1%;
	margin-right: 1%;
	margin-left: 1%;
	box-sizing:border-box;
	@media #{$tablet-width}{
		width: 23%;
		margin-left: 1%;
		margin-right: 1%;
		height: 360px;
		float: left;
		display: inline-block;
	}
}
.offer__head{
	background-color: #efefc2;
	h4{
		font-size: 14px;
		font-family: $csb;
		text-transform: uppercase;
		text-align: center;
	}
}
.offer__shower{

	&--opened{
		display: none;
	}
}
