$body-color:#fafaee;
$header-color:#383838;
$blue-color:#5ac5ff;
$text-color:#43433f;
$light-yellow:#efefc2;
$mid-yellow:#afaf91;
$head-color:#222222;
$btn-red:#de757f;

$tablet-width: "(min-width: 768px)";
$notebook-width: "(min-width: 1300px)";
$fullhd-width: "(min-width: 1600px)";

$cl: "CleanvertisingLight";
$csr: "ClearSansRegular";
$csb: "ClearSansBold";
$cb: "CleanvertisingBlack";